/*Currently NOT Reponsive*/
* {
  color: #fff;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

body {
  background-image: url("../images/bg.jpg");
  background-height: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-size: 48px;
}

#content {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background: rgba(54, 25, 25, .7 );
}

#attack {
  display: none;
}

.fighterBox {
  width: 300px;
  height: 350px;
  display: inline-block;
  margin: 0 auto;
}

.fighterBox:hover {
  background: rgba(54, 25, 25, .75);
}

.bi {
  height: 270px;
  width: 200px;
  margin: 0 auto;
}

.fighterSpecs {
  margin: 0;
  padding: 0;
  display: block;

}

.hp {
  
}

#battleGround {
  /*height: 500px;*/
  margin: 10px 0;
  /*background: rgba(54, 25, 25, .5);*/
}


button {
  background-color: #c30700;
  vertical-align: center;
}