/*Currently NOT Reponsive*/
main {
  width: 90%;
  margin: 0 auto;
}

.fighterBox {
  width: 300px;
  height: 350px;
/*  background-color: #ffff99;
  border-style: solid;
  border-width: 2px;
  border-color: blue;*/
  display: inline-block;
}

.fighterBox:hover {
  background-color: #ffcc00;
}

.bi {
  height: 270px;
  width: 200px;
  margin: 0 auto;
}

.fighterSpecs {
  margin: 0;
  padding: 0;
  display: block;

}

.hp {
  
}

#battleGround {
  /*height: 500px;*/
  margin: 10px 0;
  background: blanchedalmond;
}