/*Currently NOT Reponsive*/
* {
  color: #fff;
  font-family: 'Indie Flower', cursive;
}

body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 90%;
  margin: 0 auto;
  background: rgba(54, 25, 25, .5);
}

.fighterBox {
  width: 300px;
  height: 350px;
  display: inline-block;
}

.fighterBox:hover {
  background: rgba(54, 25, 25, .75);
}

.bi {
  height: 270px;
  width: 200px;
  margin: 0 auto;
}

.fighterSpecs {
  margin: 0;
  padding: 0;
  display: block;

}

.hp {
  
}

#battleGround {
  /*height: 500px;*/
  margin: 10px 0;
  /*background: rgba(54, 25, 25, .5);*/
}